<% include ../partials/header %>

<% include ../partials/navbar %>

<div class="container is-fluid">
  <section class="section mt">
    <a href="/stories" class="back"><i class="fas fa-arrow-left"></i></a>
    <h1 class="title left">
      <%= story[0].title %>
    </h1>

    <div class="columns">
      <div class="column is-narrow is-narrow-desktop">
        <div style="width: 450px;">
          <% if(story[0].image) { %>
          <figure class="image">
            <img src="/<%= story[0].image %>" alt="Story Image" class="img">
          </figure>
          <% } %>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <p class="title is-5"><i class="far fa-lightbulb"></i></p>
          <p class="story">
            <%= story[0].story %>
          </p>
        </div>
      </div>
    </div>

    <p class="left">
      <strong>Submitted by </strong><em>
        <%= story[0].username %></em></strong>
    </p>

    <% if(currentUser && story[0].userId === currentUser.user_id) { %>
    <div class="bottom">
      <button type="button" class="modalBtn button is-warning" data-modal="editStoryModal">
        <span class="icon"><i class="fas fa-edit"></i></span>
        <span>Edit</span>
      </button>
      <form action="/stories/<%= story[0].storyId %>" method="POST" id="deleteStoryForm" class="left">
        <% if(story[0].image) { %>
        <input type="hidden" name="storyImagePath" id="storyImagePath" value="/<%= story[0].image %>">
        <% } %>
        <button class="button is-danger">
          <span class="icon"><i class="fas fa-trash-alt"></i></span>
          <span>Delete</span></button>
      </form>
    </div>
    <% } %>

</div>
</section>
</div>

<hr>

<div class="container mb" id="comments">
  <% comments.forEach(comment => { %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <span>
          <strong>
            <small>@
              <%= comment.username %></small>
          </strong>
        </span>
        <p>
          <%= comment.comment %>
        </p>
      </div>

      <% if(comment.username === currentUser.username || (currentUser && currentUser.user_id === story[0].userId && comment.username === story[0].username)) { %>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small editCommentBtn"><i class="fas fa-edit"></i></span>
          </a>
        </div>
      </nav>

      <!-- this form is not displaying until user clicks the edit icon to update comment -->
      <form action="/stories/<%= story[0].storyId%>/comments/<%= comment.id %>" method="POST" id="editCommentForm">
        <div class="field">
          <p class="control">
            <textarea class="textarea" rows="2" name="editedComment"><%= comment.comment%></textarea>
          </p>
        </div>
        <button type="submit" class="button is-warning is-small">Update</button>
      </form>
      <% } %>
    </div>

    <% if(currentUser && story[0].userId === currentUser.user_id) { %>
    <div class="media-right">
      <form action="/stories/<%= story[0].storyId%>/comments/<%= comment.id %>" method="POST" id="deleteCommentForm">
        <button type="submit" class="delete"></button>
      </form>
    </div>
    <% } %>
  </article>
  <% }); %>

  <% if(currentUser) { %>
  <article class="media mb">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </p>
    </figure>

    <div class="media-content">
      <form action="/stories/<%= story[0].storyId %>/comments" method="POST" id="newCommentStoryForm">
        <div class="field">
          <p class="control">
            <textarea class="textarea" name="comment" placeholder="Add a comment..."></textarea>
          </p>
        </div>

        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <input type="hidden" name="post_id" value="<%= story[0].storyId %>">
              <input type="hidden" name="username" value="<%= currentUser.username %>">
              <button type="submit" class="button is-dark is-rounded">Post Comment</button>
            </div>
          </div>
        </nav>
      </form>
    </div>
  </article>
  <% } %>
</div>

<div id="editStoryModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="closeBtn">&times;</span>
      <h2>Edit Story</h2>
    </div>

    <div class="modal-body">
      <form action="/stories/<%= story[0].storyId %>" method="POST" id="editStoryForm">
        <div class="row">
          <label for="title"><strong>Title</strong></label>
          <input type="text" id="title" name="title" value="<%= story[0].title %>">
        </div>
        <div class="row">
          <label for="story"><strong>Story</strong></label>
          <textarea id="story" rows="8" name="story"><%= story[0].story %></textarea>
        </div>
        <div class="row">
          <label for="image"><strong>Image</strong></label>
          <div class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="image" id="image" accept="image/*">
              <span class="file-cta customImage">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose an image...
                </span>
              </span>
              <% if(story[0].image) { %>
              <span class="file-name">
                <%= story[0].image.split('/').pop() %>
              </span>
              <% } %>
            </label>
          </div>
        </div>

        <input type="hidden" name="user_id" value="<%= story[0].userId %>">

        <div class="modal-footer">
          <button type="button" class="cancel">
            <i class="fas fa-times"></i> Cancel</a>
          </button>
          <button type="submit" class="create">
            <i class="fas fa-edit"></i> Update</a>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>